/*http://support.google.com/chrome/?hl=en*/
::-webkit-scrollbar              { background-color:#222; }
::-webkit-scrollbar-track:vertical { background-color:#0a0a0a;background:linear-gradient(to bottom,#0a0a0a,#000,#0a0a0a); }

::-webkit-scrollbar-track-piece  { background-color:#000; }

::-webkit-scrollbar-track-piece:vertical { background-color:#0a0a0a;background:linear-gradient(to bottom,#0a0a0a,#000,#0a0a0a); }
::-webkit-scrollbar-track-piece:vertical:hover { background-color:#112;background:linear-gradient(to bottom,#112,#000,#112); }
::-webkit-scrollbar-track-piece:horizontal { background-color:#0a0a0a;background:linear-gradient(to right,#0a0a0a,#000,#0a0a0a); }
::-webkit-scrollbar-track-piece:horizontal:hover { background-color:#112;background:linear-gradient(to right,#112,#000,#112); }

::-webkit-scrollbar-button:vertical,
::-webkit-scrollbar-thumb:vertical        { background-color:#111;background:linear-gradient(to right,#000,#111,#000);}
::-webkit-scrollbar-button:vertical:hover,
::-webkit-scrollbar-thumb:vertical:hover  { background-color:#334;background:linear-gradient(to right,#222,#334,#222);}

::-webkit-scrollbar-button:horizontal,
::-webkit-scrollbar-thumb:horizontal      { background-color:#111;background:linear-gradient(to bottom,#000,#111,#000)}
::-webkit-scrollbar-button:horizontal:hover,
::-webkit-scrollbar-thumb:horizontal:hover{ background-color:#334;background:linear-gradient(to bottom,#222,#334,#222)}

::-webkit-scrollbar-corner       { background-color:#000; }
::-webkit-resizer                { background-color:#000; }


body {
  color: #C8C8C8;
  background-color: #030303;
}

a {
  /* color: #0095dd; */
  /* color: rgb(37, 138, 175); */
  color: #678;
  transition: 1s;
  text-decoration:none;
}
a:hover {
  /*color: #0095dd;*/
  /*color:rgb(37, 138, 175);*/
  color: #8ac;
  transition: 100ms;
}



a[href^=http] {
  border: 1px solid black;
  padding: 0px 10px;
  box-shadow: 2px 2px 2px black;
  border-radius: 3px;
  text-shadow: 1px 1px #008;
}


.sunlight-menu a{
  color: #678!important;
}


.sunlight-container textarea {
  background-color: #000;
}

.sunlight-highlighted, .sunlight-container textarea {
  color: #FFFFFF !important;
  margin: 0 !important;
}

.list-group-item {
  padding: 1px 15px;
  background-color: #32383e;
}

.navbar-form .input-group > .form-control {
  width: 100%;
  background-color: black;
}

code {
  color: #886688;
  background-color: #111;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #112;
}


h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 3px;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 3px;
  margin-bottom: 2px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

dd {
  margin-left: 14px;
}

dt h4{
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  background-color: #222;
  border: 1px solid #111;
  border-radius: 6px;
  padding: 6px;
  xbox-shadow: 2px 2px 9px 3px rgba(0,0,0,0.8), inset 0px 0px 24px 6px rgba(0,0,0,0.4);
  box-shadow: inset 0px 0px 24px 6px rgba(0,0,0,0.4);
}

.sunlight-code-container {
  clear: both !important;
  position: relative !important;
  border: none;
  border-color: #222222 !important;
  background-color: #111111 !important;
}
